{{!< base}}

<div>
  <h1>awesomeChat</h1>
  <a href="./404.hbs">404</a>
  <a href="./500.hbs">500</a>
  <a href="./login.hbs">login</a>
  <a href="./register.hbs">register</a>
  <a href="./nullChat.hbs">nullChat</a>
  <a href="./chat.hbs">chat</a>
</div>