{{!< base}} <div id="auth">
    <h2>Регистрация</h2>
    {{#each registerInputs}}
    {{> signInput}}
    {{/each}}
    <div class="auth__actions">
        {{> button title="Зарегистрироваться"}}
        <div><a href="./login.hbs">Войти</a></div>
    </div>
    </div>